  .phone{
      background-image: url("../imgs/s8.png");
      width: 380px !important;
      height: 819px;
      margin: auto;
  }
  
  .no-js .owl-carousel, .owl-carousel.owl-loaded {
      position: relative;
      top: 45px; 
      width: calc(100% - 16px);
      left: 5px;
      height: 100%;
      z-index: -1;
  }
  
  .owl-stage-outer, .owl-item, .item{
    height: calc(100% - 38px)
  }
  
  .owl-stage{
    height:100%;
  }

  .screen img{
    height: 100% !important;
    width: auto;
  }